GYMSHOP_DB_PASSWORD=ReplaceWithAStrongPassword_123!
GYMSHOP_JWT_SECRET=ReplaceWithARandomSecretOfAtLeast32Characters
GYMSHOP_GOOGLE_CLIENT_ID=
GYMSHOP_SEED_ADMIN_EMAIL=admin@gymshop.com
GYMSHOP_SEED_ADMIN_NAME=Super Admin
GYMSHOP_SEED_ADMIN_PASSWORD=ReplaceWithALocalAdminPassword_123!
